@import "tailwindcss";

:root {
  --background: #fafafa;
  --foreground: #18181b;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-instrument-sans);
  --font-serif: var(--font-instrument-serif);
}

@layer base {

  html,
  body {
    @apply overflow-hidden;
  }

  body {
    @apply bg-zinc-50 text-zinc-900;
  }

  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    @apply font-serif;
  }
}